@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
     padding: 0; 
     box-sizing: border-box; 
     text-decoration: none; 
     border: none; 
     outline: none; 
     scroll-behavior: smooth; 
     font-family: 'Poppins' , sans-serif;
}
:root{
    --bg-color:#19331A;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;

}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: scroll;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, 2);
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
    overflow: scroll;
}
.social-media{
    position: relative;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--bg-color);
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;

    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--bg-color);



        
}
.social-media a:hover{
    color: var(--bg-color);
    background: transparent;
}
.home{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--text-color);
}








.home_photo3{
    position: absolute;
    top: 0;
    left:0;    

}
.home_photo3 img{
    width: 70vw;
}

.home_photo4{
    position: absolute;
    right:30px; 
    top:60vh;   

}
.home_photo4 img{
    width: 30vw;
}











.home_photo7{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.home_photo7 img{
    width: 50vw;
}




.home_photo9{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_photo5 img{
    width: 100px;
}

h2{
    position: relative;
    font-size: 1.7rem;
    color: var(--bg-color);
    font-family: bold;

    margin: 20px;
}



.btn {
    position: relative;
    display: inline-block;
    padding: 2rem 2.8rem;
    background: var(--bg-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--bg-color);
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    font-family: bold;
    margin: 20px;
}
.btn:hover{
    box-shadow: none;
}
